# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target/
*.log
out
gen
hs_err_pid*
/src/test/resources/ehcache.xml
